#!/usr/bin/env bash
# mise config hash: {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}

{{ if eq .chezmoi.os "darwin" }}
{{ template "lib/common/log.sh" . }}
{{ template "lib/install/mise.sh" . }}
{{ end }}
