#!/usr/bin/env bash
# extensions.yaml hash: {{ include ".chezmoidata/extensions.yaml" | sha256sum }}

{{ if eq .chezmoi.os "darwin" }}
{{ template "lib/common/log.sh" . }}
VSCODE_EXTENSIONS=(
  # shared
  {{ range .vscode.shared -}}
  "{{ . }}"
  {{ end }}
  {{ if .personal -}}
  # personal
  {{ range .vscode.personal -}}
  "{{ . }}"
  {{ end -}}
  {{- end }}
  {{ if .work -}}
  # work
  {{ range .vscode.work -}}
  "{{ . }}"
  {{ end -}}
  {{- end }}
)
{{ template "lib/install/vscode.sh" . }}
{{ end }}
