#!/usr/bin/env bash
{{ $groups := list "shared" }}
{{ if .personal }}{{ $groups = append $groups "personal" }}{{ end }}
{{ if .work     }}{{ $groups = append $groups "work"     }}{{ end }}
# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{ if eq .chezmoi.os "darwin" }}
{{ template "lib/common/log.sh" . }}
HOMEBREW_BUNDLE_CONTENT=$(cat <<'BREWFILE'
{{ range $groups }}# {{ . }}
{{- $g := index $.packages.darwin.homebrew . }}
{{ range $g.taps }}tap "{{ . }}"
{{ end -}}
{{ range $g.formulas }}brew "{{ . }}"
{{ end -}}
{{ range $g.casks }}cask "{{ . }}"
{{ end -}}
{{ range $g.mas }}mas "{{ .name }}", id: {{ .id }}
{{ end }}
{{ end -}}
BREWFILE
)
{{ template "lib/install/homebrew-bundle.sh" . }}
{{ end }}
