name: development
version: 1.0.0
description: APM project for development
target:
  - claude
  - copilot
author: Edwin Hernandez
includes: auto
dependencies:
  apm:
    - obra/superpowers
    - anthropics/claude-plugins-official/plugins/skill-creator
  mcp:
{{ if .work }}
    - name: figma
      registry: false
      transport: http
      url: https://mcp.figma.com/mcp
      headers:
        Authorization: "Bearer ${input:figma-token}"

    - name: atlassian
      registry: false
      transport: stdio
      command: npx
      args:
        - "-y"
        - "mcp-remote"
        - "https://mcp.atlassian.com/v1/mcp"
        - "--resource"
        - "{{ .atlassian_resource_url }}"
{{ end }}
