{{- $ageRecipient := "age15lke8qvlf7zqs6xmgz2vnm7mul7ws97qy5hv8qs5uqyqj32fs45qmxjuhj" -}}

{{- $context := promptChoiceOnce . "context" "Which context is this machine?" (list "personal" "work") -}}
sourceDir = {{ .chezmoi.workingTree | quote }}
{{- if and (eq $context "personal") (ne $ageRecipient "") }}

encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = {{ $ageRecipient | quote }}
{{- end }}

[data]
context = {{ $context | quote }}

# git
git_username = {{ promptStringOnce "git username" | quote }}
git_email = {{ promptStringOnce "git email" | quote }}
git_signing_key = {{ (bitwardenFields "item" (bitwarden "item" "chezmoi").id).git_signing_key_id.value | quote }}
