[tools]
node   = "lts"
pnpm = "latest"
python = "latest"

{{ if .personal -}}
biome = "latest"
uv   = "latest"
{{- end }}

{{ if .work -}}
redis = "latest"
{{- end }}

[settings]
idiomatic_version_file_enable_tools = ["node", "python", "pnpm"]