[tools]
chezmoi = 'latest'
node = 'lts'
python = 'latest'
github-cli = 'latest'
tmux = 'latest'
starship = 'latest'
fastfetch = 'latest'
{{ if eq .context "personal" -}}
pnpm = 'latest'
uv = 'latest'
biome = 'latest'
{{- end }}
{{- if eq .context "work" }}
# placeholder - add work-specific tools here
{{- end }}

[settings]
# tools can read the versions files used by other version managers
idiomatic_version_file_enable_tools = ['node', 'python', 'pnpm']
